.containerBtn{
    display: grid;
    grid-template-columns: repeat(4, 21%);
    padding: 18px 12px;
    gap: 10px;
    background-color: var(--bg-color-toogle);
    border-radius: 6px; 
    justify-content: center;
       
}


.btn{
    font-family: 'League Spartan', sans-serif;
    padding: 6px;
    background-color: var(--bg-color-keys);
    border-radius: 5px;
    border: 0 solid transparent;
    box-shadow: 0 2px 0 var(--bg-shadow-keys);
    color: var(--color-text);
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    animation-duration: 0.5s;
}

.btn:active{
    box-shadow: none;
    animation-duration: 0.5s;
}

.btnViolet {
    background-color: var(--bg-color-delete);
    color: var(--color-text-white);
    font-size: 15px;
    box-shadow: 0 2px 0 var(--shadow-delete);
}


.reset{
grid-column: 1 / span 2;
background-color: var(--bg-color-delete);
color: var(--color-text-white);
font-size: 15px;
    box-shadow: 0 2px 0 var(--shadow-delete);
}

.calculate {
    grid-column: 3 / span 2;
    background-color: var(--bg-color-equal);
    color: var(--color-text-secondary);
    font-size: 15px;
        box-shadow: 0 2px 0 var(--shadow-equal);
}

